@{
    ViewBag.Title = "Change Pick-Up Day";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>



<p> Your current pick-up is scheduled on  </p>
<p> Please select a day that would better from the dropdown menu:</p>



 @*drop down menu and submit button*@