@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    1000 Main Street<br />
    Westallica, W1 53214<br />
    <abbr title="Phone">P:</abbr>
    414.444-4000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"><</textarea>
    <input type="submit" value="Send"/>
</form>