@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collection</h1>
    <p class="lead">A scheduling service for weekly trash removal.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account Balance</h2>
        <p>
            View and pay monthly trash collection invoice.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Change Pick-up Date</h2>
        <p>Change the day of the week for scheduled pick-up.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Off-Time</h2>
        <p>Going out of town? Need to skip a week? Schedule time off and don't get charged for a pickup you don't need!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>