@{
    ViewBag.Title = "Schedule Vacation Time";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>



 @*try to add calendar*@
<p> What day does your vacation end? </p> @*try to add calendar*@

@*submit button*@


